@{
    ViewData["Title"] = "Add Jobs to Profile";
}
@model Insta.Models.AddJob
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card p-3 mt-5 mb-5">
            <h1 class="card-title text-center">Add Jobs</h1>
            <form asp-action="ProcessAddJob" method="POST">
                <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
                    <p>
                        <button class="btn btn-info btn-style btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Add Job
                        </button>
                    </p>
                        <div class="collapse" id="collapseExample">
                        <div class="card card-body p-5 mt-3 mb-3">
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="job_rating"></span>
                                </div>
                                <br>
                                <label asp-for="job_rating"></label>
                                <select asp-for="job_rating" class="form-control">
                                    <option value="">Rating</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="job_title"></span>
                                </div>
                                <br>
                                <label asp-for="job_title"></label>
                                <input type="text" name="job_title" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="company"></span>
                                </div>
                                <br>
                                <label asp-for="company"></label>
                                <input type="text" name="company" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="from_date"></span>
                                </div>
                                <br>
                                <label asp-for="from_date"></label>
                                <input type="datetime-local" name="from_date" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="to_date"></span>
                                </div>
                                <br>
                                <label asp-for="to_date"></label>
                                <input type="datetime-local" name="to_date" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="job_description"></span>
                                </div>
                                <br>
                                <label asp-for="job_description"></label>
                                <textarea name="job_description" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="skills"></span>
                                </div>
                                <br>
                                <label asp-for="skills"></label>
                                <textarea name="skills" class="form-control" cols="30" rows="10"></textarea>
                            </div>   
                        </div>
                    </div>
                </div>
                <input type="submit" value="Add Jobs" class="btn btn-style btn-info btn-round" style="margin: 0 auto; text-align: center; display: block;">
            </form>
        </div>
    </div>
</div>