body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.card form input,
.card form textarea,
.card form select {
    box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
}